body {
  text-align: center;
  background-image: url("background.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
div {
  margin-top: 15px;
}

.continueButton {
	 
	width: 100px;
    height: 100px;   
  
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-size: 14px;
  font-weight:700;
  cursor: pointer;
  position:relative;
 
}

.mainImage {

  position: relative;

 border: 5px outset #8306C1;
  text-align: center;
  color: black;
}

.container {

  position: relative;

  top: 50;
  
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered1 {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered2 {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered3 {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered4 {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered5 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered6 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered7 {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered8 {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered9 {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered10 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered11 {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered12 {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered13 {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered14 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered15{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered16 {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered17 {
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered18 {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
}



